In [1]:
##PACKAGE IMPORTING
import pandas as pd
from dask.distributed import Client, progress ##For Progress Dashboard
import dask.dataframe as dd
import numpy as np
import tqdm
import matplotlib.pyplot as plt
from ggplot import *
import matplotlib.pyplot as plt
from xgboost import XGBRegressor
import os
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
import time

C:\ProgramData\Anacondanew\lib\site-packages\dask\config.py:168: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  data = yaml.load(f.read()) or {}
C:\ProgramData\Anacondanew\lib\site-packages\distributed\config.py:20: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  defaults = yaml.load(f)

In [ ]:
client = Client(n_workers=2, threads_per_worker=2, memory_limit='1GB')
client

In [15]:
#SAVE YOUR MELTED DATAFRAME WITH CHUNCK OPTION
##ARGUMENT CHUNK SIZE IS DEFINED
%time sales_01 = pd.read_csv(r"C:\Users\Selvamani\Desktop\sales_train_validation.csv",chunksize=1000)
def Melt_Save(df,Melt_Vars_List):
    for chunk in tqdm.tqdm_notebook(sales_01):
        result = chunk.melt(id_vars= Melt_Vars_List)
        # export the results into a new file and append for each iteration using mode
        result.to_csv("C:/Users/Selvamani/Desktop/Master/main.csv", index=False , mode='a',header = False)
Melt_Save(sales_01,Melt_Vars_List)

Wall time: 4.98 ms

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

In [43]:
##PARALLEL PROCESSING STARTS HERE USING DASK
Column_Name_List = ['id','item_id','dept_id','cat_id','store_id','state_id' ,'variable' ,'value']
%time Raw_M_Data = dd.read_csv("C:/Users/Selvamani/Desktop/Master/main.csv",names=Column_Name_List,header=None)
%time print(Raw_M_Data.head())

Wall time: 186 ms
                              id        item_id    dept_id   cat_id store_id  \
0  HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  HOBBIES_1  HOBBIES     CA_1
1  HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  HOBBIES_1  HOBBIES     CA_1
2  HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  HOBBIES_1  HOBBIES     CA_1
3  HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  HOBBIES_1  HOBBIES     CA_1
4  HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  HOBBIES_1  HOBBIES     CA_1

  state_id variable  value
0       CA      d_1      0
1       CA      d_1      0
2       CA      d_1      0
3       CA      d_1      0
4       CA      d_1      0
Wall time: 5 s

In [59]:
"Finding Top 10 Products Sold On an average per day"
%time Mean_Values = Raw_M_Data.groupby(['store_id']).value.mean().compute()

Wall time: 9min 22s

In [117]:
##WALMART LAST WEEK
df_sales_train=pd.read_csv(r"C:\Users\Selvamani\Desktop\sales_train_validation.csv")
cal=pd.read_csv(r"C:\Users\Selvamani\Desktop\Master\calendar.csv")
cal_train=pd.read_csv(r"C:\Users\Selvamani\Desktop\Master\cal_train.csv")
cal_pred = pd.read_csv(r"C:\Users\Selvamani\Desktop\Master\cal_pred.csv")
print(cal_train.columns)
cal_train=cal_train.drop(['Unnamed: 0', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year','d'],axis=1)
cal_pred=cal_pred.drop(['Unnamed: 0', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year','d'],axis=1)
print(type(cal_train))
cal_d = cal['d'].tolist()
cal_date = cal['date'].tolist()
cal_dict = dict(zip(cal_d, cal_date))
df1_sales_train=df_sales_train.iloc[:,:6]
df2_sales_train = df_sales_train.iloc[:,6:].rename(columns=cal_dict)
df_master=pd.concat([df1_sales_train,df2_sales_train],axis=1).drop('id',axis=1)
df_master.head()

Index(['Unnamed: 0', 'date', 'wm_yr_wk', 'weekday', 'wday', 'month', 'year',
       'd', 'snap_CA', 'snap_TX', 'snap_WI', 'events_name_1_1',
       'events_name_2_1', 'events_type_1_1', 'events_type_2_1'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>

,item_id,dept_id,cat_id,store_id,state_id,2011-01-29,2011-01-30,2011-01-31,2011-02-01,2011-02-02,...,2016-04-15,2016-04-16,2016-04-17,2016-04-18,2016-04-19,2016-04-20,2016-04-21,2016-04-22,2016-04-23,2016-04-24
0,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,1,3,0,1,1,1,3,0,1,1
1,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,2,1,2,1,1,1,0,1,1,1
3,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,1,0,5,4,1,0,1,3,7,2
4,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,0,...,2,1,1,0,1,1,2,2,2,4

In [118]:
items=df_master['item_id'].unique()
state=df_master['state_id'].unique()
stores=df_master['store_id'].unique()
stores1={'CA_1':1,'CA_2':2,'CA_3':3,'CA_4':4,'TX_1':5,'TX_2':6,'TX_3':7,'WI_1':8,'WI_2':9,'WI_3':10}
state1={'CA':1,'TX':2,'WI':3}
fun=lambda x: 1 if (x == 5) | (x == 6) else (0)
fun1=lambda x:1 if x==True else(0)
df_comp=pd.DataFrame()
result=[]
j=1
start=time.time()
print(start)

1590428037.6249914

In [139]:
j=1
for i in items:
     if j<=1:
        print('entering for')
        print(i)
        df1=df_master.loc[df_master['item_id']== i ]
        df1=pd.melt(id_vars=['store_id'],value_vars=df_master.iloc[:,5:],var_name='Date',value_name='Sales',frame=df1)
        df1=df1.sort_values(['store_id','Date'])
        df1=pd.merge(df1, cal_train, how='left', left_on=['Date'], right_on=['date'])
        df1['dayofyear'] = pd.DatetimeIndex(df1['Date']).dayofyear
        df1['dayofweek'] = pd.DatetimeIndex(df1['Date']).dayofweek
        df1['weekofyear'] = pd.DatetimeIndex(df1['Date']).weekofyear
        df1['weekend'] = df1['dayofweek'].apply(fun)
        df1['monthstart'] = pd.DatetimeIndex(df1['Date']).is_month_start
        df1['monthstart'] = df1['monthstart'].apply(fun1)
        df1['quarterstart'] = pd.DatetimeIndex(df1['Date']).is_quarter_start
        df1['quarterstart'] = df1['quarterstart'].apply(fun1)
        df1['yearstart'] = pd.DatetimeIndex(df1['Date']).is_year_start
        df1['yearstart'] = df1['yearstart'].apply(fun1)
        df1['store_id']=df1['store_id'].map(stores1)
        df1 = df1.drop(['Date','date'], axis=1)
        df1_Sales = df1['Sales']
        df1 = df1.drop('Sales', axis=1)
        df1 = pd.concat([df1, df1_Sales], axis=1)
        predict_df = pd.DataFrame()
        K = 56
        elements = [1,2,3,4,5,6,7,8,9,10]
        predict_df['store_id'] = [ele for ele in elements for i in range(K)]
        predict_df['predict_dates'] = pd.concat([pd.DataFrame(pd.date_range(start='2016/04/25',end='2016/06/19'))]*10,axis=0,ignore_index=True)
        predict_df['dayofyear'] = pd.DatetimeIndex(predict_df['predict_dates']).dayofyear
        predict_df['dayofweek'] = pd.DatetimeIndex(predict_df['predict_dates']).dayofweek
        predict_df['weekofyear'] = pd.DatetimeIndex(predict_df['predict_dates']).weekofyear
        predict_df['weekend'] = predict_df['dayofweek'].apply(fun)
        predict_df['monthstart'] = pd.DatetimeIndex(predict_df['predict_dates']).is_month_start
        predict_df['monthstart'] = predict_df['monthstart'].apply(fun1)
        predict_df['quarterstart'] = pd.DatetimeIndex(predict_df['predict_dates']).is_quarter_start
        predict_df['quarterstart'] = predict_df['quarterstart'].apply(fun1)
        predict_df['yearstart'] = pd.DatetimeIndex(predict_df['predict_dates']).is_year_start
        predict_df['yearstart'] = predict_df['yearstart'].apply(fun1)
        cal_pred['date'] = pd.to_datetime(cal_pred['date'])
        Final_Prediction_File = pd.merge(cal_pred,predict_df, how='left', left_on=['date'], right_on=['predict_dates'])
        Final_Prediction_File = Final_Prediction_File.drop(['predict_dates','date'],axis=1)
        Final_Prediction_File = Final_Prediction_File.reindex(columns=['store_id', 'snap_CA', 'snap_TX', 'snap_WI', 'events_name_1_1',
       'events_name_2_1', 'events_type_1_1', 'events_type_2_1', 'dayofyear',
       'dayofweek', 'weekofyear', 'weekend', 'monthstart', 'quarterstart',
       'yearstart'])
        print(Final_Prediction_File.head())
        print(Final_Prediction_File.columns)
        print(df1.head())
        print(df1.columns)
        X=df1.drop('Sales',axis=1)
        y=df1['Sales']
        print("ENTERING MODEL")
        xgb=XGBRegressor()
        xgb.fit(X,y)
        y_pred=xgb.predict(Final_Prediction_File)
       # df_comp['y_test']=y_test
       # df_comp['y_pred']=y_pred
        #df_comp['y_pred']=df_comp['y_pred'].round()
       # rmse=np.sqrt(mean_squared_error(y_test,np.round(y_pred)))
       # result.append(rmse)
        print(y_pred)
        j=j+1

entering for
HOBBIES_1_001
   store_id  snap_CA  snap_TX  snap_WI  events_name_1_1  events_name_2_1  \
0         1        0        0        0                0                0
1         2        0        0        0                0                0
2         3        0        0        0                0                0
3         4        0        0        0                0                0
4         5        0        0        0                0                0

   events_type_1_1  events_type_2_1  dayofyear  dayofweek  weekofyear  \
0                0                0        116          0          17
1                0                0        116          0          17
2                0                0        116          0          17
3                0                0        116          0          17
4                0                0        116          0          17

   weekend  monthstart  quarterstart  yearstart
0        0           0             0          0
1        0           0             0          0
2        0           0             0          0
3        0           0             0          0
4        0           0             0          0
Index(['store_id', 'snap_CA', 'snap_TX', 'snap_WI', 'events_name_1_1',
       'events_name_2_1', 'events_type_1_1', 'events_type_2_1', 'dayofyear',
       'dayofweek', 'weekofyear', 'weekend', 'monthstart', 'quarterstart',
       'yearstart'],
      dtype='object')
   store_id  snap_CA  snap_TX  snap_WI  events_name_1_1  events_name_2_1  \
0         1        0        0        0                0                0
1         1        0        0        0                0                0
2         1        0        0        0                0                0
3         1        1        1        0                0                0
4         1        1        0        1                0                0

   events_type_1_1  events_type_2_1  dayofyear  dayofweek  weekofyear  \
0                0                0         29          5           4
1                0                0         30          6           4
2                0                0         31          0           5
3                0                0         32          1           5
4                0                0         33          2           5

   weekend  monthstart  quarterstart  yearstart  Sales
0        1           0             0          0      0
1        1           0             0          0      0
2        0           0             0          0      0
3        0           1             0          0      0
4        0           0             0          0      0
Index(['store_id', 'snap_CA', 'snap_TX', 'snap_WI', 'events_name_1_1',
       'events_name_2_1', 'events_type_1_1', 'events_type_2_1', 'dayofyear',
       'dayofweek', 'weekofyear', 'weekend', 'monthstart', 'quarterstart',
       'yearstart', 'Sales'],
      dtype='object')
ENTERING MODEL

C:\ProgramData\Anacondanew\lib\site-packages\xgboost\core.py:587: FutureWarning: Series.base is deprecated and will be removed in a future version
  if getattr(data, 'base', None) is not None and \
C:\ProgramData\Anacondanew\lib\site-packages\xgboost\core.py:588: FutureWarning: Series.base is deprecated and will be removed in a future version
  data.base is not None and isinstance(data, np.ndarray) \

[23:47:05] WARNING: C:/Jenkins/workspace/xgboost-win64_release_0.90/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
[ 0.22542691  0.22575551  0.29786754  0.2635852   0.12427363  0.15884635
  0.15884635  0.05970696  0.05218282  0.08205882  0.22542691  0.22575551
  0.29786754  0.2635852   0.12427363  0.15884635  0.15884635  0.05970696
  0.05218282  0.08205882  0.21669713  0.21702573  0.28913775  0.25485545
  0.1237995   0.15837222  0.15837222  0.05923283  0.0517087   0.08158469
  0.19942027  0.19974887  0.2718609   0.24247018  0.1229409   0.15751362
  0.15751362  0.05837423  0.05085009  0.08072609  0.20002496  0.2087059
  0.28807366  0.24269944  0.13105345  0.16562617  0.16562617  0.08060643
  0.07308233  0.10295826  0.26911327  0.2777942   0.33844233  0.278472
  0.15542307  0.1899958   0.1899958   0.10464558  0.09712145  0.12699741
  0.24767098  0.2563519   0.33695582  0.2716257   0.14857677  0.18314949
  0.18314949  0.09779927  0.09027514  0.1201511   0.16765955  0.17634049
  0.24615204  0.21186987  0.08779469  0.12236741  0.12236741  0.0340699
  0.02654576  0.05642176  0.16765955  0.17634049  0.24615204  0.21186987
  0.08779469  0.12236741  0.12236741  0.0340699   0.02654576  0.05642176
  0.1873363   0.19601724  0.26582885  0.23154661  0.10049057  0.13506329
  0.13506329  0.04085746  0.03333333  0.06320933  0.14165291  0.15033385
  0.2201455   0.19075477  0.08646196  0.12103468  0.12103468  0.03273717
  0.02521303  0.05508903  0.16963738  0.17831832  0.25538558  0.21001142
  0.11360195  0.14817467  0.14817467  0.06906325  0.06153914  0.09141508
  0.2542426   0.26292354  0.32357162  0.27819735  0.1450721   0.17964482
  0.17964482  0.09429461  0.08677047  0.11664644  0.22329521  0.23197615
  0.31258     0.24724993  0.12936124  0.16393396  0.16393396  0.08703291
  0.07950878  0.10938475  0.16765955  0.17634049  0.24615204  0.21186987
  0.08779469  0.12236741  0.12236741  0.0340699   0.02654576  0.05642176
  0.19606608  0.20474702  0.27455863  0.24027637  0.1009647   0.13553742
  0.13553742  0.04133159  0.03380746  0.06368345  0.16091082  0.16959175
  0.24170378  0.20742157  0.09160206  0.12617478  0.12617478  0.03787726
  0.03035313  0.06022912  0.14363396  0.1523149   0.22442701  0.19503626
  0.09074345  0.12531617  0.12531617  0.03701866  0.02949452  0.05937052
  0.18566641  0.19434735  0.2737151   0.23336747  0.12767321  0.16224593
  0.16224593  0.07722619  0.06970209  0.09957802  0.23037899  0.23905993
  0.29970795  0.2447643   0.13282731  0.16740003  0.16740003  0.09049898
  0.08297485  0.11285082  0.23037899  0.23905993  0.3196638   0.2447643
  0.13282731  0.16740003  0.16740003  0.09049898  0.08297485  0.11285082
  0.19950682  0.20818776  0.28029984  0.25104412  0.11768419  0.1522569
  0.1522569   0.05805108  0.05052695  0.08040294  0.16828549  0.17696643
  0.24907848  0.23125654  0.09789658  0.1324693   0.1324693   0.03826347
  0.03073934  0.06061533  0.1595557   0.16823664  0.2403487   0.22252676
  0.09742245  0.13199517  0.13199517  0.03778934  0.03026521  0.06014121
  0.14227885  0.15095979  0.22307187  0.21014148  0.09656385  0.13113657
  0.13113657  0.03693074  0.02940661  0.0592826   0.17026332  0.17894426
  0.258312    0.2293981   0.12370384  0.15827656  0.15827656  0.07325682
  0.06573272  0.09560865  0.24592331  0.25460422  0.3152523   0.27174234
  0.1445688   0.17914152  0.17914152  0.09379131  0.08626717  0.11614314
  0.24592331  0.25460422  0.33520815  0.27174234  0.1445688   0.17914152
  0.17914152  0.09379131  0.08626717  0.11614314  0.16828549  0.17696643
  0.24907848  0.23125654  0.09789658  0.1324693   0.1324693   0.03826347
  0.03073934  0.06061533  0.16828549  0.17696643  0.24907848  0.23125654
  0.09789658  0.1324693   0.1324693   0.03826347  0.03073934  0.06061533
  0.1595557   0.16823664  0.2403487   0.22252676  0.09742245  0.13199517
  0.13199517  0.03778934  0.03026521  0.06014121  0.14227885  0.15095979
  0.22307187  0.21014148  0.09656385  0.13113657  0.13113657  0.03693074
  0.02940661  0.0592826   0.17026332  0.17894426  0.258312    0.2293981
  0.12370384  0.15827656  0.15827656  0.07325682  0.06573272  0.09560865
  0.24592331  0.25460422  0.3152523   0.27174234  0.1445688   0.17914152
  0.17914152  0.09379131  0.08626717  0.11614314  0.24592331  0.25460422
  0.33520815  0.27174234  0.1445688   0.17914152  0.17914152  0.09379131
  0.08626717  0.11614314  0.16171384  0.17039478  0.24250677  0.2246849
  0.10140124  0.13597396  0.13597396  0.04176813  0.034244    0.06411999
  0.16828549  0.17696643  0.24907848  0.23125654  0.09789658  0.1324693
  0.1324693   0.03826347  0.03073934  0.06061533  0.15757465  0.1662556
  0.2360672   0.21824527  0.09314096  0.12771368  0.12771368  0.03350785
  0.02598372  0.05585971  0.11189127  0.12057221  0.19038385  0.17745343
  0.07911235  0.11368507  0.11368507  0.02538756  0.01786342  0.04773942
  0.13987574  0.14855668  0.225624    0.19671008  0.10625234  0.14082506
  0.14082506  0.06171364  0.05418953  0.08406547  0.2244809   0.23316184
  0.29381     0.26489604  0.13772249  0.17229521  0.17229521  0.086945
  0.07942086  0.10929683  0.19353357  0.20221451  0.28281838  0.23394862
  0.12201163  0.15658435  0.15658435  0.0796833   0.07215917  0.10203514
  0.13789791  0.14657885  0.21639046  0.19856852  0.08044508  0.1150178
  0.1150178   0.02672029  0.01919615  0.04907215  0.15973279  0.16841373
  0.23822531  0.22040337  0.09711975  0.13169247  0.13169247  0.03748664
  0.02996251  0.0598385   0.12916812  0.13784906  0.2076607   0.18983874
  0.07997096  0.11454368  0.11454368  0.02624616  0.01872203  0.04859802
  0.11189127  0.12057221  0.19038385  0.17745343  0.07911235  0.11368507
  0.11368507  0.02538756  0.01786342  0.04773942  0.16828227  0.17696321
  0.25403053  0.22511661  0.11942235  0.15399507  0.15399507  0.06897533
  0.06145123  0.09132716  0.21497592  0.22365686  0.28430486  0.24079493
  0.12885794  0.16343066  0.16343066  0.08652961  0.07900548  0.10888144
  0.21497592  0.22365686  0.30426067  0.24079493  0.12885794  0.16343066
  0.16343066  0.08652961  0.07900548  0.10888144  0.16828549  0.17696643
  0.24907848  0.23125654  0.09789658  0.1324693   0.1324693   0.03826347
  0.03073934  0.06061533  0.13987896  0.1485599   0.22067198  0.20285001
  0.08472657  0.11929929  0.11929929  0.03100178  0.02347764  0.05335364
  0.10113311  0.10981405  0.18192613  0.16410416  0.05423638  0.0888091
  0.0888091   0.00051159 -0.00701261  0.02286345  0.11226279  0.12094373
  0.19305581  0.18012542  0.06654778  0.1011205   0.1011205   0.00691468
 -0.00060946  0.02926654  0.14024726  0.1489282   0.22829595  0.19938204
  0.09368777  0.1282605   0.1282605   0.04324076  0.03571665  0.06559259
  0.21590725  0.22458819  0.28523624  0.24172631  0.11455274  0.14912546
  0.14912546  0.06377524  0.05625111  0.08612707  0.2093356   0.2180165
  0.2986204   0.23515466  0.1180574   0.15263012  0.15263012  0.06727991
  0.05975577  0.08963174]

<class 'pandas.core.frame.DataFrame'>
Int64Index: 560 entries, 0 to 559
Data columns (total 16 columns):
store_id           560 non-null int64
predict_dates      560 non-null datetime64[ns]
dayofyear          560 non-null int64
dayofweek          560 non-null int64
weekofyear         560 non-null int64
weekend            560 non-null int64
monthstart         560 non-null int64
quarterstart       560 non-null int64
yearstart          560 non-null int64
snap_CA            560 non-null int64
snap_TX            560 non-null int64
snap_WI            560 non-null int64
events_name_1_1    560 non-null int64
events_name_2_1    560 non-null int64
events_type_1_1    560 non-null int64
events_type_2_1    560 non-null int64
dtypes: datetime64[ns](1), int64(15)
memory usage: 74.4 KB